<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BelVG_AddToCart::add"
             resource="BelVG_AddToCart::add"
             title="Add to cart"
             action="belvg_addtocart/index/index"
             module="BelVG_AddToCart"
             sortOrder="100"
             parent="Magento_Customer::customer"/>
    </menu>
</config>
